<div class="register-box">
    <div class="register-logo">
        <a href="javascript:;"><b>Blink and Buys</b></a>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">Register a new membership</p>

        <form #registerForm="ngForm" id="registerForm" novalidate>
            <div class="form-group has-feedback">

                <input type="text" id="name" name="name" placeholder="Full name" class="form-control" required #Name="ngModel" [(ngModel)]="user.name" />


                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <show-errors [control]="Name" [name]="'Name'"></show-errors>


            <div class="form-group has-feedback">

                <input type="text" id="email" name="email" placeholder="Email" class="form-control" required #Email="ngModel" [(ngModel)]="user.email" [pattern]="emailPattern" (blur)="checkEmailExists(user.email)" />


                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>

            <ng-container *ngIf="isEmailExists">
                <b class="text-danger">
                  Email already registered with the system.
                </b>
            </ng-container>
            <show-errors [control]="Email" [name]="'Email'"></show-errors>


            <div class="form-group has-feedback">

                <input type="password" name="password" placeholder="Password" class="form-control" id="Password" required #Password="ngModel" [pattern]="passwordPattern" [(ngModel)]="user.password" />


                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">

                <input type="password" class="form-control" #ConfirmPassword="ngModel" name="confirmPassword" [(ngModel)]="user.confirmPassword" placeholder="Retype password" required [pattern]="passwordPattern" />


                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>

            <ng-container *ngIf="
            (ConfirmPassword.value != '' &&
              ConfirmPassword.value != Password.value)||
              ConfirmPassword.value?.length > Password.value?.length
          ">
                <b style="color: red">
            Password doesn't match with Confirm Password
          </b>
            </ng-container>
            <ul *ngIf="Password.errors && Password.errors.pattern && Password.value?.length < 8" style=" color: red; margin-top:5px;">
                <li>at least <i>8</i> characters</li>
                <li>
                    combination of upper- and lower-case characters and Special Character(*)
                </li>
                <li>one or more digits(*)</li>
            </ul>

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
              </label>
                    </div>
                </div>
                <div class="col-xs-4">

                    <button type="submit" class="btn btn-primary btn-block btn-flat" [disabled]="registerForm.invalid || (!isEmailExists)
                    ||(ConfirmPassword.value != Password.value || user.password == '' ||
                    user.confirmPassword == '')" (click)="register(registerForm)">
                    Register
                  </button>


                </div>
            </div>
        </form>

        <a [routerLink]="['/'] " class="text-center">I already have a membership</a>
    </div>
</div>

<div class="loadWrapper" *ngIf="spinner">
    <div class="loader"></div>
</div>