<section class="content-header">
    <h1>
        Dealer
    </h1>
    <ol class="breadcrumb">
        <li><a href="javascript:;"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dealer detail</li>
    </ol>
</section>

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Dealer detail</h3>
        </div>

        <div class="box-body">
            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">Company Name:</span>
                <div class="col-sm-10">
                    <label for="inputName" class="control-label">{{dealer.companyName}}</label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">Dealer Name:</span>
                <div class="col-sm-10">
                    <label for="inputName" class=" control-label">{{dealer.name}}</label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">Email:</span>
                <div class="col-sm-10">
                    <label for="inputName" class=" control-label">{{dealer.email}}</label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">Contact Number:</span>
                <div class="col-sm-10">
                    <label for="inputName" class=" control-label">{{dealer.contactNumber}}</label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">Product Category:</span>
                <div class="col-sm-10">
                    <label for="inputName" class=" control-label">
                        <ng-container *ngFor="let category of categoryList;">
                            <ng-container *ngIf="category.id == dealer.productCategoryId">
                                {{category.categoryName}}
                            </ng-container>
                        </ng-container>
                    </label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">Is GST Available:</span>
                <div class="col-sm-10">
                    <label for="inputName" class=" control-label">{{dealer.isGstAvailable}}</label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">GST Number:</span>
                <div class="col-sm-10">
                    <ng-container *ngIf="!dealer.gstNumber">
                        <label for="inputName" class=" control-label">N/A</label>
                    </ng-container>
                    <ng-container *ngIf="dealer.gstNumber">
                        <label for="inputName" class=" control-label">{{dealer.gstNumber}}</label>
                    </ng-container>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">Account Number:</span>
                <div class="col-sm-10">
                    <label for="inputName" class=" control-label">{{dealer.accountNumber}}</label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">Account Holder Name:</span>
                <div class="col-sm-10">
                    <label for="inputName" class=" control-label">{{dealer.accountHolderName}}</label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">IFSC Code:</span>
                <div class="col-sm-10">
                    <label for="inputName" class="control-label">{{dealer.ifscCode}}</label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">Is Number Verified:</span>
                <div class="col-sm-10">
                    <label for="inputName" class=" control-label">{{dealer.isNumberVerified}}</label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">Is Active:</span>
                <div class="col-sm-10">
                    <label for="inputName" class="control-label">{{dealer.isActive}}</label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">Is Account Verified:</span>
                <div class="col-sm-10">
                    <label for="inputName" class=" control-label">{{dealer.isAccountVerified}}</label>
                </div>
            </div>

            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">Id Proof:</span>
                <div class="col-sm-10">
                    <!-- <label for="inputName" class=" control-label">Name</label> -->

                    <img id="blah" [src]="dealer.idProofPath" alt="No img"
                        style="max-width: 160px;max-height: 150px;min-width: 160px;min-height: 150px;" />

                </div>
            </div>

            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">Cheque Cancelled:</span>
                <div class="col-sm-10">
                    <!-- <label for="inputName" class=" control-label">Name</label> -->
                    <img id="blah" [src]="dealer.cancelledChequePath" alt="No img"
                        style="max-width: 160px;max-height: 150px;min-width: 160px;min-height: 150px;" />
                </div>
            </div>

            <div class="form-group col-md-6">
                <span for="inputName" class="col-sm-2 control-label">Registration Date:</span>
                <div class="col-sm-10">
                    <label for="inputName" class=" control-label">{{dealer.createdDt | date: 'dd-MMM-yyyy'}}</label>
                </div>
            </div>
        </div>
    </div>
</section>

<ngx-ui-loader></ngx-ui-loader>