<div class="agileits-modal modal fade" id="myModal88" tabindex="-1" role="dialog" aria-labelledby="myModal88"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-map-marker" aria-hidden="true"></i> Location
                </h4>
            </div>
            <div class="modal-body modal-body-sub">
                <h5>Select your delivery location </h5>
                <select class="form-control bfh-states" data-country="IN" (change)="select($event.target.value)">
                    <option value="0">Select state</option>
                    <option *ngFor="let state of states" value={{state.id}}>{{state.stateName}}</option>
                </select>
                <h5>Select city </h5>
                <select class="form-control bfh-states">
                    <option value="">Select city</option>
                    <option *ngFor="let city of cities " value={{city.id}}>{{city.cityName}}</option>
                </select>
                <br>
                <button type="button" class="close2" data-dismiss="modal" aria-hidden="true"> Explore</button>
            </div>
        </div>
    </div>
</div>