<div class="login-box">
    <div class="login-logo">
        <a href="javascript:;"><b>Blink and Buys</b></a>
    </div>
    <div class="login-box-body">

        <p class="login-box-msg">
            You forgot your password? Here you can easily retrieve a new password.
        </p>


        <form #forgotPWForm="ngForm" id="forgotPWForm" novalidate>
            <ng-container *ngIf="!isPasswordReset">
                <div class="form-group has-feedback">

                    <input type="text" id="userName" name="userName" placeholder="Email" class="form-control" required #userName="ngModel" [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />


                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <div *ngIf="userName.errors?.pattern">
                    <span style="color: red;">Please enter a valid email!</span>
                </div>
            </ng-container>
            <strong class="text-danger" *ngIf="isPasswordReset">
            Your password has been reset and further instructions have been sent to your e-mail address.
        </strong>


            <div class="row" *ngIf="!isPasswordReset">

                <div class="col-xs-4">

                    <button type="submit" class="bbtn btn-primary btn" [disabled]="forgotPWForm.invalid" (click)="recoverPassword()">
                        Request new password
                      </button>

                </div>
            </div>
        </form>
        <a [routerLink]="['']" class="text-center">Return to Login</a>
    </div>
</div>