.text-danger{
    color: red;
}

.main-header .navbar-custom-menu {  
    float: none;
}
.nav-top-custom {
    position: relative;
    padding-left: 60px;
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #fff;
    float: left;
    position: absolute;
    left: 0;
}
.dropdown.user.user-menu select.form-control {   
    display: inline-block;
}
.dropdown.user.user-menu label {
    vertical-align: middle;
    display: inline-block;
    width: auto;
    margin-right: 0;
    font-weight: 500;
    font-size: 15px;
    margin-top: 5px;
    color:#fff;
}
span.user-name, .sign-btn {
    color: #fff;
    padding: 0px 15px;
    margin-top: 5px;
    display: inline-block;
}
.main-header .navbar-custom-menu {
    float: none;
    padding-top: 8px;
}

.navbar-custom-menu a:hover,.navbar-custom-menu a:active,.navbar-custom-menu a:focus {   
    color: #fff;
    background: rgba(0,0,0,0.1);   
}
.sign-btn {
    padding: 0px 20px;
    margin-top: -8px;
    height: 50px;
    line-height: 50px;
    margin-right: -15px;
}
.mobile-user,.sign-btn span{
    display:none;
}

.toolbar {
    margin-bottom: 15px;
    display: flex;
  }

  

  button {
    height: 35px;
    line-height: 35px;
    padding: 0px 15px;
}

span.level-span {
    display: block;
}
.table-level .fa{
    padding:0px 5px;
}
.box-footer .btn {   
    margin-left: 5px;
}
.level-list {
    max-height: 80px;
    overflow-y: auto;
}
button.btn.btn-box-tool .fa {
    color: #333;
    font-size: 14px;
}
.box-body.level-fields {
    overflow-y: auto;
    padding: 15px;
    height: 153px;
}
.table-level thead th{
    background-color:#3c8dbc;
    color:#fff;
}
.level-fields .input-group{
    width:100%;
}

.form-horizontal .control-label {   
    text-align: left;
}

.swal2-confirm .swal2-styled {
    padding: -0.375em 2em;
}