.tableFixHead {
    overflow-y: auto;
    height: auto;
    max-height: 500px;
}


/* Just common table stuff. */

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px 16px;
}

th {
    background: #eee;
}