<app-location>
</app-location>

<div class="welcome">
    <div class="container">
        <div class="welcome-info">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class=" nav-tabs" role="tablist">
                    <li role="presentation">
                        <a href="javascript:void()" role="tab" id="decor-tab" data-toggle="tab"
                            (click)="routeServices()">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <h5>Services</h5>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="javascript:void()" role="tab" id="sports-tab" data-toggle="tab"
                            (click)="routeProducts()">
                            <i class="fa fa-motorcycle" aria-hidden="true"></i>
                            <h5>Products</h5>
                        </a>
                    </li>
                </ul>

                <div class="clearfix"> </div>
                <h3 class="w3ls-title">Featured Products</h3>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                        <div class="tabcontent-grids">
                            <div id="owl-demo2" class="owl-carousel">
                                <ng-container *ngFor="let product of productList; let i = index;">
                                    <div class="item">
                                        <div class="glry-w3agile-grids agileits">

                                            <!-- <ng-container *ngFor="let image of product.productImages"> -->
                                            <a href="javascript:;">
                                                <img style="min-height: 250px;max-height: 250px;    min-width: 250px;    max-width: 250px;"
                                                    [src]="product.masterImage" alt="img">
                                            </a>
                                            <!-- </ng-container> -->

                                            <div class="view-caption agileits-w3layouts">
                                                <h4><a href="javascript:;"
                                                        [routerLink]="['/user/product-detail',product.id]">{{product.productTitle}}</a>
                                                </h4>
                                                <p>{{product.productName}}</p>
                                                <h5>{{product.price | currency:"&#8377;"}}</h5>

                                                <form>
                                                    <button type="submit" class="w3ls-cart"
                                                        (click)="addToCart(product,'product')">
                                                        <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                        Add to cart</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"> </div>
                <h3 class="w3ls-title">Featured Services</h3>
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                        <div class="tabcontent-grids">
                            <div id="owl-demo1" class="owl-carousel">

                                <div class="item" *ngFor="let service of serviceList; let i = index;">
                                    <div class="glry-w3agile-grids agileits">

                                        <a href="javascript:;">
                                            <img [src]="service.serviceIcon" alt="img">
                                        </a>

                                        <div class="view-caption agileits-w3layouts">
                                            <h4>
                                                <a href="javascript:;"
                                                    [routerLink]="['/user/service-detail',service.id]">{{service.serviceName}}</a>
                                            </h4>
                                            <h5>{{service.price | currency:"&#8377;"}}</h5>
                                            <form>
                                                <button type="submit" class="w3ls-cart"
                                                    (click)="addToCart(service,'service')">
                                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                    Book Service</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-ui-loader></ngx-ui-loader>