<div class="products">
    <div class="container">
        <div class="col-md-9 product-w3ls-right">
            <ol class="breadcrumb breadcrumb1">
                <li><a href="javascript:;" [routerLink]="['/user/dashboard']">Home</a></li>
                <li class="active">Products</li>
            </ol>
            <div class="clearfix"> </div>
            <div class="product-top">
                <h4>Products</h4>
                <ul>
                    <li class="dropdown head-dpdn" [ngClass]="isOpen ? 'open' : ''" (click)="clickEvent()">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">Filter By<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:;" (click)="sortByPrice('low')">Low price</a></li>
                            <li><a href="javascript:;" (click)="sortByPrice('high')">High price</a></li>
                            <li><a href="javascript:;" (click)="sortByPrice('latest')">Latest</a></li>
                        </ul>
                    </li>

                </ul>
                <div class="clearfix"> </div>
            </div>
            <div class="products-row">
                <div class="col-md-3 product-grids" *ngFor="let product of productList;let i = index;">
                    <div class="agile-products">
                        <!-- <div class="new-tag">
                            <h6>20%<br>Off</h6>
                        </div> -->
                        <a href="javascript:;" [routerLink]="['/user/product-detail',product.id]">

                            <!-- <ng-container *ngFor="let image of product.productImages"> -->
                                <a href="javascript:;">
                                    <!-- <img style="min-height: 200px;max-height: 200px;" [src]="transform(image.imagePath)"
                                        alt="img"> -->
                                    <img [src]="product.masterImage" class="img-responsive" alt="">
                                </a>
                            <!-- </ng-container> -->

                        </a>
                        <div class="agile-product-text">
                            <h5>
                                <a href="javascript:;">{{product.productTitle}}</a>
                            </h5>
                            <h6>
                                <!-- <del>$200</del> -->
                                {{product.price | currency:"&#8377;"}}
                            </h6>
                            <form>
                                <button class="w3ls-cart pw3ls-cart" (click)="addToCart(product)">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    Add to cart
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="col-md-3 rsidebar">
            <div class="rsidebar-top">
                <div class="slider-left">
                    <h4>Filter By Price</h4>
                    <div class="row row1 ">
                        <label class="checkbox"><input type="checkbox" name="checkbox"
                                (click)="sortByPrice('500')"><i></i>0
                            - 500 </label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"
                                (click)="sortByPrice('1000')"><i></i>500 - 1000 </label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"
                                (click)="sortByPrice('2000')"><i></i>1000 - 2000 </label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"
                                (click)="sortByPrice('5000')"><i></i>2000 - 5000 </label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"
                                (click)="sortByPrice('10000')"><i></i>5000 - 10000 </label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"
                                (click)="sortByPrice('25000')"><i></i>10000 - 25000 </label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"
                                (click)="sortByPrice('more')"><i></i>More</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <app-recommendations></app-recommendations>
    </div>
</div>

<ngx-ui-loader></ngx-ui-loader>
<p-toast position="top-right" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'20ms'"></p-toast>