<div class="skin-blue sidebar-mini">
    <div class="wrapper" style="height: 100vh; min-height: 100%;">
        <header class="main-header">
            <!-- Logo -->
            <a href="javascript:;" routerLink="/admin/dashboard" class="logo">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini"><b>CA WEB</b>ADMIN</span>
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg"><b>CA WEB </b>ADMIN</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
              <div class="nav-top-custom">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                  <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="col-md-12">
                  <div class="navbar-custom-menu">
                    <div class="row">
                      <div class="col-sm-8"></div>
                      <div class="col-sm-4 text-right">
                        <span class="user-name">test<span class="mobile-user">test</span></span>
                        <a href="javascript:;" (click)="logoutUser()"  class="sign-btn">Sign out<span><i class="fa fa-sign-out"
                              aria-hidden="true"></i></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </header>
          <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">CA Section</li>
                    <li class="treeview" routerLinkActive="active">
                        <a  [routerLink]="['/admin/dashboard']">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview" routerLinkActive="active">
                        <a  [routerLink]="['/admin/tab']">
                            <i class="fa fa-ellipsis-h"></i> <span> Tabs</span>
                        </a>
                    </li>
                    <li class="treeview" routerLinkActive="active">
                        <a  [routerLink]="['/admin/label']">
                            <i class="fa fa-ellipsis-v"></i> <span> Labels</span>
                        </a>
                    </li>
                    <li class="treeview" routerLinkActive="active">
                      <a  [routerLink]="['/admin/taborder']">
                          <i class="fa fa-exchange"></i> <span>Management Tabs/Labels</span>
                      </a>
                  </li>
                    <li class="treeview" routerLinkActive="active">
                        <a href="javascript:;" [routerLink]="['/admin/report']">
                            <i class="fa fa-th"></i> <span>Reports</span>
                        </a>
                    </li>
                    <!-- <li class="treeview" routerLinkActive="active">
                        <a href="javascript:;" [routerLink]="['/admin/dashboard-video']">
                            <i class="fa fa-video-camera"></i> <span>Job Type</span>
                        </a>
                    </li> -->
                    <li class="treeview" routerLinkActive="active">
                        <a href="javascript:;" [routerLink]="['/admin/jobs']">
                            <i class="fa fa-building-o"></i> <span>Jobs</span>
                        </a>
                    </li>
                    <!-- <li class="treeview" routerLinkActive="active">
                        <a href="javascript:;" [routerLink]="['/admin/profile']">
                            <i class="fa fa-user"></i> <span>Profile</span>
                        </a>
                    </li> -->
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper" style="overflow: hidden;min-height: 100%;">
            <router-outlet> </router-outlet>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
              <b>Version</b> 1.0.0
            </div>
            <a href="http://www.waseng.com.au/" target="_blank">CA Web</a> All rights
            reserved.
          </footer>
    </div>
</div>