<div class="skin-blue sidebar-mini">
    <div class="wrapper" style="height: 100vh; min-height: 100%;">
        <header class="main-header">
            <a href="javascript:;" routerLink="/admin/dashboard" class="logo">
                <span class="logo-mini"><b>Blink and Buys</b></span>
                <span class="logo-lg"><b>Blink and Buys </b></span>
            </a>
            <nav class="navbar navbar-static-top">
                <div class="nav-top-custom">
                    <a href="javascript:;" class="sidebar-toggle" data-toggle="push-menu" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="col-md-12">
                        <div class="navbar-custom-menu">
                            <div class="row">
                                <div class="col-sm-8"></div>
                                <div class="col-sm-4 text-right">
                                    <span class="user-name">{{role}}: {{name}}<span class="mobile-user">{{role}}:
                                            {{name}}</span></span>
                                    <a href="javascript:;" (click)="logoutUser()" class="sign-btn">Sign out<span><i
                                                class="fa fa-sign-out" aria-hidden="true"></i></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">Blink and Buys Section</li>
                    <li class="treeview" routerLinkActive="active">
                        <a [routerLink]="['/admin/dashboard']">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>

                    <li class="treeview" routerLinkActive="active">
                        <a href="javascript:;" [routerLink]="['./dealer-requests']">
                            <i class="fa fa-th"></i> <span>Dealer Requests</span>
                        </a>
                    </li>

                    <li class="treeview" routerLinkActive="active">
                        <a href="javascript:;" [routerLink]="['./dealers']">
                            <i class="fa fa-th"></i> <span>Dealer List</span>
                        </a>
                    </li>

                    <li class="treeview" routerLinkActive="active">
                        <a href="javascript:;" [routerLink]="['./services']">
                            <i class="fa fa-th"></i> <span>Add Service </span>
                        </a>
                    </li>

                    <li class="treeview" routerLinkActive="active">
                        <a href="javascript:;" [routerLink]="['./category']">
                            <i class="fa fa-th"></i> <span>Add Category </span>
                        </a>
                    </li>

                    <li class="treeview" routerLinkActive="active">
                        <a href="javascript:;" [routerLink]="['./products']">
                            <i class="fa fa-th"></i> <span>Products</span>
                        </a>
                    </li>

                    <li class="treeview" routerLinkActive="active">
                        <a href="javascript:;" [routerLink]="['./add-product']">
                            <i class="fa fa-th"></i> <span>Add Product</span>
                        </a>
                    </li>

                    <li class="treeview" routerLinkActive="active">
                        <a href="javascript:;" [routerLink]="['./product-detail']">
                            <i class="fa fa-th"></i> <span>Product sale detail</span>
                        </a>
                    </li>

                    <li class="treeview" routerLinkActive="active">
                        <a href="javascript:;" [routerLink]="['/admin/product-invoice']">
                            <i class="fa fa-th"></i> <span>Product invoices</span>
                        </a>
                    </li>

                    <li class="treeview" routerLinkActive="active">
                        <a href="javascript:;" [routerLink]="['/admin/report']">
                            <i class="fa fa-th"></i> <span>Users</span>
                        </a>
                    </li>

                    <li class="treeview" routerLinkActive="active">
                        <a href="javascript:;" [routerLink]="['/admin/jobs']">
                            <i class="fa fa-building-o"></i> <span>Orders</span>
                        </a>
                    </li>
                    <li class="treeview" routerLinkActive="active">
                        <a href="javascript:;" [routerLink]="['./profile']">
                            <i class="fa fa-user"></i> <span>Profile</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>

        <div class="content-wrapper" style="overflow: hidden;min-height: 100%;">
            <router-outlet> </router-outlet>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <a href="javascript:;" target="_blank">Blink and Buys Web</a> All rights reserved.
        </footer>
    </div>
</div>