<section class="content-header">
    <h1>
        My Services
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Booked Services</h3>
                </div>
                <div class="box-body table-responsive">
                    <table id="tblBuilding" datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"
                        class="table table-bordered table-striped table-level">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Customer</th>
                                <th>Location</th>
                                <th>Is Approved</th>
                                <th>Is Rejected</th>
                                <th>Is Cancelled by User</th>
                                <th>Created on</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let service of bookedServices; let i = index;">
                                <td>{{i+1}}</td>

                                <td>
                                    <ng-container *ngFor="let user of userList;">
                                        <ng-container *ngIf="user.id == service.userId">
                                            {{user.name}}
                                        </ng-container>
                                    </ng-container>
                                </td>

                                <td>
                                    <ng-container *ngFor="let city of cities;">
                                        <ng-container *ngIf="city.id == service.cityId">
                                            {{city.cityName}}
                                        </ng-container>
                                    </ng-container>
                                </td>
                                <td>{{service.isApprovedByServiceProvider}}</td>
                                <td>{{service.isRejectedByServiceProvider}}</td>
                                <td>{{service.isCancelledByUser}}</td>
                                <td>{{service.createdDt | date: 'dd-MMM-yyyy'}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" (click)="reject(service)" class="btn btn-danger btn-space"
                                            title="Reject"><i class="fa fa-remove"></i>
                                        </button>

                                        <button type="button" (click)="approve(service)"
                                            class="btn btn-warning btn-space" title="Approve"><i
                                                class="fa fa-check"></i>
                                        </button>

                                        <button type="button" (click)="customerDetails(service)"
                                            class="btn btn-info btn-space" title="Customer Details"><i
                                                class="fa fa-info-circle"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="bookedServices?.length < 1">
                                <td colspan="8">No record found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="onCloseHandled()">&times;</button>
                <h4 class="modal-title">Customer Details</h4>
            </div>
            <div class="modal-body">
                <form #form="ngForm" novalidate>
                    <div class="form-group">
                        <label for="">Customer Name: {{user.name}}</label><br />
                        <label for="">State:
                            <ng-container *ngFor="let state of states;">
                                <ng-container *ngIf="state.id == user.stateId">
                                    {{state.stateName}}
                                </ng-container>
                            </ng-container>
                        </label><br />

                        <label for="">City:
                            <ng-container *ngFor="let city of cities;">
                                <ng-container *ngIf="city.id == user.cityId">
                                    {{city.cityName}}
                                </ng-container>
                            </ng-container>
                        </label>
                        <br />

                        <label for="">Address: {{user.address}}</label><br />
                        <label for="">Street Address: {{user.streetAddress}}</label><br />
                        <label for="">Mobile: {{user.contactNumber}}</label><br />
                        <label for="">Payment mode: N/A</label><br />
                        <label for="">Service Completed on: N/A</label>
                        <br />
                    </div>
                     <button type="button" class="btn btn-primary" (click)="onCloseHandled()">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<ngx-ui-loader></ngx-ui-loader>